#This is the Bot Token you will recieve from the Discord Developer 
#Dashboard when you add a bot to your application
api_token = "Your_Bot_Token_Goes_Here"

#This is the command prefix that users will type in discord to
#interact with this bot
prefix = "sr!"
